@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.ttf");
} 

@font-face {
  font-family: "NunitoSemiBoldItalic";
  src: url("../fonts/Nunito-SemiBoldItalic.ttf");
}

@font-face {
  font-family: "NunitoBold";
  src: url("../fonts/Nunito-Bold.ttf");
}


@font-face {
  font-family: "NunitoExtraBoldItalic";
  src: url("../fonts/Nunito-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: "NunitoItalic";
  src: url("../fonts/Nunito-Italic.ttf");
}

@font-face {  
  font-family:"OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf");
}  
@font-face { 
  font-family:"Inter";
  src: url("../fonts/Inter-Regular.ttf");
  
}

body{
  min-height : 100vh;
  }



/*NAVBAR*/

.navbarTitle{
  font-family: "NunitoExtraBoldItalic";
  font-size: 3rem;
color:#15616D;
padding-left: 1rem;
}
.navbarSecondTitle{
  font-family: "NunitoItalic";
  font-size: 1rem;
}

@media (max-width:767px) {
  .navbarSecondTitle {
    display:none;
  }
  .navbarTitle{
    font-size: 1.5rem;
  padding-left:0;
  }
  .h1-index, .h1-index2{
    font-size:10px;
  }

}


#en_cours{

  text-decoration: underline dotted;
text-underline-offset: 8px;

}
.offcanvas-title{
  color:#15616D;
  font-family: "NunitoExtraBoldItalic";
  font-size: 2rem;
}
.offcanvasSecondTitle{
  font-family: "NunitoItalic";
  font-size: 1rem;
}

.tomates-offcanvas{
  width: 400px;
  height:300px;
 margin-left:1px;
margin-top:1px;
}

/*INDEX*/

.background{
  width :100%;
  height: 600px;
  object-fit: cover;
  object-position: center;

}
.home{
  top: 400px; width:100%;
  position: absolute;
  display:block;
  margin : auto;
}

.h1-index, .h1-index2{
  font-family:"OpenSans" ;
  font-size: 3rem;
  font-weight: 500;
  text-align:center;
  border-radius: 2px;
  color: rgb(248, 244, 244); 
  text-shadow:
 rgb(231, 134, 54) 1px 2px 10px;
 
}

.title-section, .titleListPatients{
  font-family:"NunitoBold" ;
color:#78290F;
}


.btn-contact{
  text-decoration: none;
  color:white;
}
.btn-contact:hover{
 color:rgb(43, 131, 91);
}

.photo-profil{
  border-radius: 50%;

}

/*AJOUTER UNE RECETTE*/

.addTitle, .title-form, .connexion-title, .recettes-title{
  font-family:"NunitoItalic" ;
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 2rem;
  text-align:center;
  border-radius: 2px;
  color: rgb(231, 134, 54); 
  text-shadow:
 rgb(231, 134, 54) 1px 2px 10px;
}

/*RECETTES*/

.recetteLittleTitle::before{

content: '';
width: 50px;
height: 50px;
background-image: url("photos/tomates.jpg") no-repeat;
display: inline-block;
vertical-align: -5px;
}

.titleRecettesReservees, .profil{
  font-family:"NunitoBold" ;
  color:rgb(231, 134, 54); 
}





/*CONTACT*/


.form{
  width: 500px;
  margin:auto;
padding: 10px;
}

.button,.form-label{
  font-family: "Nunito" ;
}

.border{
  margin-left: 500px;
  margin-right: 500px;
  margin-bottom: 80px;
}

@media (max-width:767px) {
  .border {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
  }
h1,p{
  text-align:center;

}
.form{
  width:350px;

}
}

@media (max-width:995px) {
  .border{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
   }
 
   h1,p{
    text-align:center;
  
  }
  .form{
    width:350px;
  }
}

@media (max-width:1500px) {
  .border{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
   }
 
   h1,p{
    text-align:center;
  
  }
  .form{
    width:350px;
  }
}

.adresse-title{
  font-family: "Nunito";
}


/*CONNEXION*/

.connexion-title::before, .connexion-title::after{
   
  content:"";
  width: 50px;
  height: 50px;
  background-image: url('../photos/carrottes.png') no-repeat;
  display: inline-block;
  vertical-align: -5px;


}

/* Mentions légales, politique de confidentialité */

.confidential-title,.mentions-title{
font-family: "Nunito";
color: #78290F;
}
p{
  font-family: "Inter";
}






/*FOOTER*/
.footer-clean {
  padding:50px 0;
  background-color:#15616D;
  color:#ccc;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}